/target/
/.idea/
/.DS_Store
/docs
!/docs/
docs/*
!docs/week4-sonarqube-report.pdf
/.env
/.env.*
!/.env.example
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/example/.DS_Store
.env
.env
