/target/
/.idea/
/.DS_Store
/docs
!/docs/
docs/*
!docs/week4-sonarqube-report.pdf
!docs/WEEK5_JENKINS_SONAR_DOCKER_GUIDE.md
!docs/Lev_Karavanov_Sprint7_UAT_Report.xlsx
/.env
/.env.*
!/.env.example
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/example/.DS_Store
.env
.env
